.camera-icon {
  position: relative;
  font-size: 4rem;
  cursor: pointer;
  z-index: 1100;
  color: white;
  transition: color 0.3s ease-in-out;
  width: 75%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #22C55E, #06B6D4);
  border-radius: 12px;
  border: none;
  box-shadow: 0 8px 25px rgba(34, 197, 94, 0.4);
}

.camera-icon.active {
  color: red;
}

.qr-scanner-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}


